@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

/* RESET */

* ,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 /* html {
     min-width: fit-content;
 } */


body {
    min-height: 100vh;
    /* max-width: fit-content; */
    width: 100%;
    margin: 0 auto;
    /* overflow-x: hidden; */
}

 body {
     padding: 0;
     margin: 0;
     font-family: 'Barlow', sans-serif;
 }

 

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    
}
 
 button {
     border: initial;
     background-color: initial;
     font: inherit;
     color: inherit;
     outline: none; /* make sure there is a visual indicator for focus*/
 }

.main {
    height: 100vh;
    background-image: url('images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-transform: uppercase;
    
}

.header {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
}

.main-h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 5rem;
    color: white;
}

.nav-links {
    margin-right: 2rem;
    color: white;
    cursor: pointer;
}

.nav-links:nth-child(2){
    margin-left: auto ;
}

.contact-btn {
    color: black;
    background-color: white;
    padding: 12px 30px;
    border-radius: 500px;
}

.main-arrow {
    margin-left: 50%;
    margin-top: 40px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    
}

.grid {
    height: 100vh;
}

.grid-section-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10rem;
    
}

.grid-section-1-h2 {
    font-size: 3rem;
    margin-top: 5rem;
}
.grid-section-1-p {
    font-size: 1.2rem;
    color: gray;
    margin: 2rem 0;
    font-weight: 100;
    line-height: 1.8;
}

.grid-section-2 {
    background-image: url('images/desktop/image-transform.jpg');
    grid-column: 2/3;
    grid-row: 1/2;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-section-btn {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.grid-section-3 {
    background-image: url('images/desktop/image-stand-out.jpg');
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.grid-section-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10rem;
}
.grid-section-5 {
    background-image: url('images/desktop/image-graphic-design.jpg');
    grid-column: 1/2;
    grid-row: 3/4;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem;
    color: hsl(167, 40%, 24%);  
}

.grid-section-5-header,
.grid-section-6-header {
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 18rem;
}
.grid-section-6 {
    background-image: url('images/desktop/image-photography.jpg');
    grid-column: 2/3;
    grid-row: 3/4;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 9rem;
    color: hsl(212, 27%, 19%);
}

.grid-section-5-p,
.grid-section-6-p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.2;
    text-align: center;
}

.client-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.client-testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.client-testimonial-heading {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    margin: 5rem 0;
}

.client-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.client-testimonial-img {
    object-fit: cover;
    border-radius: 50%;
}

.client-testimonial-p {
    padding: 2rem;
    line-height: 1.8;
    color: hsl(213, 9%, 39%);
}

.client-testimonial-name {
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin: 1rem 0;
}
.client-testimonial-job-title {
    color: hsl(210, 4%, 67%);
}

.lower-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
}

.lower-image-1 {
    background: url('images/desktop/image-gallery-milkbottles.jpg');
    grid-column: 1/2;
    grid-row: 1fr;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.lower-image-2 {
    background: url('images/desktop/image-gallery-orange.jpg');
    grid-column: 2/3;
    grid-row: 1fr;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.lower-image-3 {
    background: url('images/desktop/image-gallery-cone.jpg');
    grid-column: 3/4;
    grid-row: 1fr;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.lower-image-4 {
    background: url('images/desktop/image-gallery-sugarcubes.jpg');
    grid-column: 4/5;
    grid-row: 1fr;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.footer {
    background-color: hsl(168, 34%, 41%) ;
    height: 50vh;
    color: #25564b;
    text-align: center;
}

.footer-logo {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer-links {
    display: flex;
    justify-content: center;

}

.footer-link {
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer-social-links {
    margin-top: 3rem;
    cursor: pointer;
}

.social-link {
    margin: 0 1rem;
}

.hamburger {
    display: none;
}

@media (max-width: 1180px) {
    .grid-layout {
        min-width: inherit;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .grid {
        width: 100vw;
        padding: 3rem;
        text-align: center;
    }
    .grid-section-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid-section-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid-section-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .grid-section-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .grid-section-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .grid-section-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

@media (max-width: 720px) {
    /* body {
        width: fit-content;
    } */
    section {
        overflow: hidden;
    }
    .grid {
        width: 100vw;
        padding: 2rem;
        text-align: center;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
        margin-left: auto;
    }
    
    
    .grid-section-2 {
        background-image: url('images/mobile/image-transform.jpg');
    }
    .grid-section-3 {
        background-image: url('images/mobile/image-stand-out.jpg');
    }
    .grid-section-5 {
        background-image: url('images/mobile/image-graphic-design.jpg');  
    }
    .grid-section-6 {
        background-image: url('images/mobile/image-photography.jpg');
    }
    
    .main-h1 {
        font-size: 4rem;
    }
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        
    }
    .grid-section-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid-section-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid-section-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .grid-section-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .grid-section-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .grid-section-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .client-testimonial-container {
        display: flex;
        flex-direction: column;
    }

    .lower-image-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lower-image-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .lower-image-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .lower-image-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .lower-image-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (max-width: 390px) {
   
}